body {
    background-image: url(/src/pop.webp);
    background-size: 250px;
    background-position: center;
    font-family: 'Helvetica Neue', Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f8d5e0; 
    position: relative; 
}

#calculator {
    background-color: white;
    border-radius: 10px;
    position: relative;
    box-shadow: 0 0 70px #e38aa3; 
    padding: 20px;
    width: 330px;
}

#display {
    color: rgb(34, 33, 33);
    width: 90%;
    height: 45px;
    font-size: 20px;
    text-align: right;
    border: none;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    background-color: #ffe0f0; 
}

button {
    width: 65px;
    height: 65px;
    font-size: 20px;
    margin: 5px;
    border: none;
    border-radius: 15px;
    background-color: #ff6781; 
    color: white;
    cursor: pointer;
    transition: background-color 0.2s;
}

button:hover {
    background-color: #ff4570;
}

button:active {
    background-color: #cc3658;
}

.unique {
    width: 65px;
    height: 65px;
    font-size: 20px;
    margin: 5px;
    border: none;
    border-radius: 15px;
    background-color: #83dcf2; 
    color: white;
    cursor: pointer;
    transition: background-color 0.2s;
}

.unique:hover {
    background-color: #05c6f7;
}

.operator {
    background-color: #3dce64; 
    color: white;
}

.operator:hover {
    background-color: #31b257;
}

.operator:active {
    background-color: #269146;
}

#pony-image {
    border-radius: 200px;
    position: absolute;
    top: 0px;
    left: 0;
    width: 15%;
    height: auto;
    z-index: 1;
}